extends layout

block content
    .uk-container.uk-margin-top
        .uk-margin
            #uploader(uk-form-custom)
                input(type="file")
                button.uk-button.uk-button-default(type="button" tabindex="-1") Identify your video