doctype html
html
    head
        base(href=context + "/")
        title Video Identification
    body
        block content
        input#ai_vision_api(type="hidden" value=ai_vision_api)
        if env == "development"
            script(src="/bundle.js")
