.marker-branch(style={height: height, left: left})
    .marker-leafs(style={top: height})
        each label in labels
            .marker-leaf(style={'background-image': 'url(' + label.icon + ')'} data-src=label.src)
