.uk-flex-top(uk-modal="esc-close: false; bg-close: false")
    .uk-modal-dialog.uk-width-xxlarge
        button.uk-modal-close-outside(type="button" uk-close)
        video.video-js
            source(src=video type="video/mp4")
