.uk-margin-bottom
    .uk-clearfix
        .uk-float-left
            span.uk-text-small= title
        .uk-float-right
            span.uk-text-small
    .uk-progress.uk-margin-remove
        .uk-progress-bar