.uk-progress {
    display:block;
    border:0;
    height:20px;
    background:#f8f8f8;
    overflow:hidden;
    line-height:20px;
    border-radius:500px;
}
.uk-progress-bar {
    width:0;
    height:100%;
    background:#1e87f0;
    float:left;
    -webkit-transition:width 0.6s ease;
    transition:width 0.6s ease;
    font-size:12px;
    color:#fff;
    text-align:center;
}
.marker-branch {
    position:absolute;
    width:2px;
    height:100%;
    margin-left:-1px;
}
.marker-leaf {
    position:absolute;
    width:10px;
    height:10px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    left:-4px;
}
.thumbnail {
    position:absolute;
    width:200px;
    height:100px;
    margin-left:-100px;
}